
//pay.html
.bgc{
    background-image: url("../images/bgc.png");
    width: 100%;
    height: 450px;
    border-radius: 0px 0px 0px 300px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    @include mobile{
        height: 600px;
        border-radius: 0px 0px 0px 200px;
    }
}
.bg-megaphone{
    img{
        position: absolute;
        right: 0;
        top: 0;
        @include mobile{
            display: none;
        }
    }
}
.bg-megaphone-sm{
    z-index: -99;
    img{
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        @include mobile{
            display: block;
            z-index: -99;
            width: 100%;
            top: 50px;
        }
    }
}
.nav-2{
    margin-top: 30px;
    
    @include mobile{
        margin-top: 0px;
    }
    @include pad{
        border-bottom: 2px solid #FFD153;
    }
    
    .header{
        justify-content: space-between;
        
        @include pad{
            padding: 0px 20px 30px;
            align-items: center;
        }
        @include mobile{
            padding: 20px;
            align-items: center;
            background-color: white;
        }
        img{
            max-width: 200px;
            @include pad{
                z-index: 50;
            }
            @include mobile{
                width: 160px;
                margin-top: 5px
            }
        }
        button{
            background-color: red;
            @include button;
            @include pad{
                width: 180px;
                padding: 15px 0px;
                font-size: $text-s+1px;
            }
            @include mobile{
                width: 160px;
                padding: 10px 0px;
                font-size: $text-s;
            }
            a{
                color: white;
                padding: 10px 35px;
            }
        }
    
    }
}

.payhome-section{
    .home-text{
        margin-top: 80px;
        @include mobile{
            margin: 20px;
        }
        h1{
            font-size: $text-l;
            font-weight: bolder;
            padding: 30px 0px;
        }
        p{
            font-size: $text-s;
            @include mobile{
                font-size: $text-s +4px;
            }
        }
    }
}
  


.scheme{
    margin-top: 300px;
    @include mobile{
        margin-top: 500px;
        padding: 30px;

    }
    .flex-wrap-sm{
        flex-wrap: wrap;
    }
    h1{
        text-align: center;
        font-size: $text-m;
    }
    button{
        background-color: white;
        padding: 10px 0px;
        margin: 0px 10px;
        border: 1px solid #56C4C5;
        border-radius: 27px;
        @include mobile{
            margin: 10px;
            width: 26%;
        }
        a{
            padding: 10px 35px;
            font-size: 15px;
            color: #56C4C5;
            @include mobile{
                padding: 10px 20px;

            }
        }   
    }
    button.click{
        background-color: #56C4C5;
        a{
            color: white;
        }
    }
}


.try-it-now{
    margin-top: 50px;
    @include mobile{
        margin-top: 0px;
    }
    img.ball03{
        position: absolute;
        left: -350px;
        z-index: -100;
        width: 300px;
        @include mobile{
            left: -100px;
            width: 250px;
            top: 45%;
        }

    }
    .card{
        box-shadow: 0px 2px 10px #00000014;
        background-color: rgb(255, 255, 255);
        width: 45%;
        text-align: center;
        margin-bottom: 100px;
        @include mobile{
            width: 90%;
            margin: 10px auto;
        }
        h5{
            font-size: $text-s+8;
            color: #1e2220;
            padding: 20px;
            font-weight: bolder;
        }
        .box{
            padding: 50px 25px; 
            width: 40%;
            background-color: #F5F5F5;
            margin: 20px;
            border-radius: 12px;
        
            h6{
                font-size: 14px;
                margin-bottom: 10px;
            }
            h1{
                font-size: 32px;
                margin: 5px;
            }
            h2.smaill{
                font-size: 12px;
                margin: 5px;
            }
        }
        .left-box{
            h1{
                color: #56C4C5;
            }
            h2{
                color: #56C4C5;
            }
        }
        .equal{
            font-size: 18px;
            font-weight: bolder;
        }
        .depiction{
            padding: 5px 30px;
            img{
                margin: 5px;
            }
            p{
                margin: 5px;
            }
        }
        button{
            background-color: #56C4C5;
            border: 0;
            margin: 50px;
            height: 45px;
            width: 170px;
            border-radius: 50px;

            a{
                padding: 10px 30px;
                color: white;
                font-size: 16px;
                letter-spacing: 1px;
            }
        }
    }
    .title-line{
        width: 100%;
        border-bottom: 1px solid #DDDDDD;
        height: 1px;
    }
    p{
        margin: 30px 0px;
        line-height: 1.5rem;
    }
}


.question{
    .question-title{
        color: #56C4C5;
    }
    @include mobile{
        width: 90%;
        margin: 0 auto;
    }
    @include mobile{
        margin-top: 40px;
    }
    .all{
        padding: 20px 40px;

    }
    
    .question-linestyle{
        box-shadow: 0px 2px 10px #00000014;
        margin: 30px 0px;
        border-radius: 50px;
        cursor: pointer;
        p{
            display: none;
            padding: 20px 40px;
            color: #747474;
            @include mobile{

                line-height: 1.5rem;
            }

        }
    }
    h1{
        text-align: center;
        font-size: $text-m;
        margin-bottom: 60px;
    }
    h6{
        font-size: 16px;
    }
    img.minus{
        display: none;
    }
 

}